*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
:root{
    --main-bg: #BCBCBC;
    --border-colour: #1e272e;
    --box-shadow: 0 1rem 1rem -0.3rem rgba(0,0,0,0.5);
}
.wrap{
    width: 100vm;
    height: 100vh;
    background-image: url("balle.png");
    background-repeat:no-repeat;
    background-color: hsl(206, 21%, 94%);
    display: grid;
    place-items: center;
}
.face{
    width: 30rem;
    height: 28rem;
    border: 1rem solid var(--border-colour);
    position: relative;
    border-radius: 45%;
    border-top-right-radius: 40%;
    border-top-left-radius: 40%;
    border-bottom-left-radius: 62.50%;
    border-bottom-right-radius: 62.5%;
    box-shadow: var(--box-shadow);
}
.face::before, .face::after{
    content: "";
    width: 15rem;
    height: 13.5rem;
    border: 3.5rem solid var(--border-colour);
    background-color: var(--main-bg);
    position: absolute;
    box-shadow: var(--box-shadow);
    top: -2.5rem;
    overflow: hidden;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}
.face::before{
    left: -9.5rem;
    animation: move_ears_left 2s ease-in-out infinite;
}
.face::after{
    right: -9.5rem;
    animation: move_ears_right 2s ease-in-out infinite;
}

.eyes{
    width: 28rem;
    height: 14rem;
    display: flex;
    justify-content: center;
}
.eye1, .eye2{
    width: 8.5rem;
    height: 10.5rem;
    background-color: var(--border-colour);
    border-radius: 5rem;
    margin-top: 6rem;
    position: relative;
    box-shadow: var(--box-shadow);

}
.eye1::before, .eye2::before{
    content:"";
    width: 4rem;
    height: 5.25rem;
    background-color: var(--border-colour);
    border-radius: 50%;
    border-right: 70%;
    border: 0.8rem solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: blink 6s ease-in-out infinite;
}

.eye2{
    margin-left: 3.5rem;
}

.eye1::after, .eye2::after{
    content:"";
    width: 1rem;
    height: 1rem;
    background-color: rgb(253, 253, 253);
    border-radius: 50%;
    position: absolute;
    top: 45%;
    left: 40%;
    animation: movement 6s ease-in-out infinite;
}

.nose{
    width: 5rem;
    height: 5rem;
    background-color: var(--border-colour);
    margin: auto;
    margin-top: 5rem;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    animation: nose_blink 7s ease-in-out infinite;
}
.ball {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ff2277;
    box-shadow: 0 1rem 2rem -0.5rem rgb(245, 102, 102);
    z-index: 1;
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
.write{
    font-family:'Times New Roman', Times, serif ;
    font-size: 76px;
    box-shadow: 0 1rem 2rem -0.1rem rgb(245, 102, 102);
    background-color: #ff2277;
    position: absolute;
    top: 84%;
    animation: movement 8s ease-in-out infinite;
}
@keyframes move_ears_left{
    0%,90%{
        transform: rotate(120deg);
        width: 15rem;
        height: 13.2rem;
        border: 3.5rem solid var(--border-colour);
        background-color: var(--main-bg);
        position: absolute;
        top: -2.5rem;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;

    }
    20%{
        transform: rotate(120deg);
        /* transform: rotate(120deg) translate(0) ; */
        width: 15rem;
        height: 13rem;
        border: 3.5rem solid var(--border-colour);
        background-color: var(--main-bg);
        position: absolute;
        top: -2.5rem;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;

    }
    30%, 80%{
        transform: rotate(120deg);
        /* transform: rotate(120deg) translate(0) ; */
        width: 15rem;
        height: 12rem;
        border: 3.5rem solid var(--border-colour);
        background-color: var(--main-bg);
        position: absolute;
        top: -2.5rem;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;

    }
    100%{
        transform: rotate(120deg) translate(0);

    }
}
@keyframes move_ears_right{
    0%,90%{
        transform: rotate(-120deg);
        width: 15rem;
        height: 13.2rem;
        border: 3.5rem solid var(--border-colour);
        background-color: var(--main-bg);
        position: absolute;
        top: -2.5rem;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;

    }
    20%{
        transform: rotate(-120deg);
        /* transform: rotate(120deg) translate(0) ; */
        width: 15rem;
        height: 13rem;
        border: 3.5rem solid var(--border-colour);
        background-color: var(--main-bg);
        position: absolute;
        top: -2.5rem;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;

    }
    30%, 80%{
        transform: rotate(-120deg);
        /* transform: rotate(120deg) translate(0) ; */
        width: 15rem;
        height: 12rem;
        border: 3.5rem solid var(--border-colour);
        background-color: var(--main-bg);
        position: absolute;
        top: -2.5rem;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;

    }
    100%{
        transform: rotate(-120deg) translate(0);

    }
}
@keyframes movement{
    0%, 10%{
        transform: translate(0);
    }
    20%{
        transform: translate(-60%);
    }
    30%, 80%{
        transform: translate(0);
    }
    90%{
        transform: translate(60%);
    }
    100%{
        transform: translate(0);
    }
}
@keyframes blink{
    0%, 30%{
        height: 20%;
    }
    32%{
        height: 30%;
    }
    34%{
        height: 20%;
    }
    36%{
        height: 30%;
    }
    38%, 50%{
        height: 20%;
    }
    60%, 70%{
        height: 35%;
    }
    80%, 100%{
        height: 20%;
    }
}
@keyframes nose_blink{
        0%, 30%{
            height: 10%;
        }
        34%, 90%{
            height: 5%;
        }
        38%, 50%{
            height: 5%;
        }
        60%, 70%{
            height: 20%;
        }
        80%, 100%{
            height: 10%;
        }

}

  
  @keyframes bounce {
    from { transform: translate3d(0, 0, 0);     }
    to   { transform: translate3d(0, 134px, 0); }
  }
